* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divCard {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}

.multimedia {
  margin-bottom: 100px;
}

footer {
  margin-top: 50px;
}
footer img {
  width: 50px;
  height: 50px;
}

header {
  margin: 5px;
}
header nav div div ul {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
header nav div div ul li {
  display: inline;
  margin-bottom: 5%;
  padding: 15px;
  color: black;
}
header nav div div ul li a {
  text-decoration: none;
}
header nav div div ul li a .redondearImg {
  border-radius: 100px 100px;
  box-shadow: 0px 0px 10px 3px black;
}
header nav div div ul li #logokia {
  height: 120px;
  width: 120px;
}
header nav div div ul .cajasNav {
  width: 20vh;
  background-color: rgb(171, 228, 228);
  padding: 15px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header nav div div .navList {
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.mainGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.mainGrid #batidos {
  background-image: url(../assets/milkshakevariedad.webp);
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
}
.mainGrid #batidos .articuloBlancoFont {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.mainGrid #gluten {
  background-image: url(../assets/glutenfree.png);
  background-repeat: no-repeat;
  height: 410px;
  width: auto;
  text-align: center;
}
.mainGrid section .h2 {
  text-align: center;
  margin-top: 5px;
}
.mainGrid .divNosotros {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
}

.mainMenu {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  gap: 10px 5px;
  grid-template-areas: "menu menu" "section1 section2" "section3 section4" "section5 section5";
}
.mainMenu .menu {
  text-decoration: underline;
  grid-area: menu;
  flex-grow: 1;
}

main .section1 {
  grid-area: section1;
}
main .section2 {
  grid-area: section2;
}
main .section3 {
  grid-area: section3;
}
main .section4 {
  grid-area: section4;
}
main .section5 {
  grid-area: section5;
}

.mainContacto section form .inputMargin {
  margin: 5px;
}
.mainContacto section form .divMapa {
  margin: 5px;
}
.mainContacto section form .menuDesplegable {
  margin: 10px;
}

@media (max-width: 768px) {
  .mainGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    height: 125vw;
  }
  #batidos {
    background-size: 100% 62.5vw;
    height: 62.5vw;
  }
  #gluten {
    background-size: 100%;
  }
  .divCard {
    flex-wrap: wrap;
  }
  .mainContacto {
    flex-wrap: wrap;
  }
}
@media (max-width: 1024px) {
  .mainGrid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    height: 100vw;
  }
  #batidos {
    background-size: 100% 50vw;
    height: 50vw;
  }
  #gluten {
    background-size: 100%;
  }
  .divCard {
    flex-wrap: wrap;
  }
  .mainContacto {
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=main.css.map */
